openapi: 3.2.0
info:
  version: 2.0.0
  title: Oden Product Attributes API
  contact:
    name: Oden Support
    email: support@oden.io
    url: https://oden.io/contact/
  description: The Oden Private Partner API exposes RESTful API endpoints for clients to get, create and update data on the Oden Platform.
servers:
- url: https://api.oden.app
  description: Oden API server
security:
- APIKeyAuth: []
tags:
- name: Product Attributes
paths:
  /v2/product_attribute/search:
    post:
      operationId: search_product_attributes
      summary: Search product attributes
      tags:
      - Product Attributes
      description: 'Searches for Product Attributes


        Product attributes may be searched by ID, product, or, display_name - in that order.


        If an ID is supplied, it will be used to search for a Product Attribute, and display_name, product will be ignored.


        If a product is supplied (and no ID), it will be used to search for a Product Attribute, and display_name will be ignored.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductAttribute'
            examples:
              match by product:
                summary: Match product mapping with given product.
                value:
                  product:
                    id: b5da7b1f-3c16-5084-a5da-95b2eba5a4db
              match by attribute display_name:
                summary: Match product mapping with given product attribute display_name.
                value:
                  display_name: Cable Color
      responses:
        '200':
          description: A list of product attributes - potentially with products and values.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductAttribute'
        '409':
          $ref: '#/components/responses/NotUniqueError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalError'
        '501':
          $ref: '#/components/responses/UnimplementedError'
        '400':
          $ref: '#/components/responses/ParameterError'
  /v2/product_attribute/set:
    post:
      operationId: set_product_attribute
      summary: Create or update a product attribute
      tags:
      - Product Attributes
      description: 'Set a Product Attribute for a Product.


        If the supplied Product Attribute doesn''t exist, it will be created.


        If the supplied Product Attribute Value doesn''t exist, it will be created.


        If the supplied Product Attribute Value is already set for the Product, it will be updated.


        If the supplied Product Attribute Value is not set for the Product, it will be added.


        Supplied Product must exist already.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductAttribute'
            examples:
              set by product ID, attribute name and attribute display_name:
                summary: Set product attribute with given product and attribute display_name.
                value:
                  product:
                    id: b5da7b1f-3c16-5084-a5da-95b2eba5a4db
                  display_name: Cable Color
                  name: cable_color
                  value: Red
              set by product name, attribute name and attribute display_name:
                summary: Set product attribute with given product and attribute display_name.
                value:
                  product:
                    name: 2AFBCA5E
                  display_name: Cable Color
                  name: cable_color
                  value: Red
      responses:
        '200':
          description: A list of product attributes - potentially with products and values.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductAttribute'
        '409':
          $ref: '#/components/responses/NotUniqueError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalError'
        '501':
          $ref: '#/components/responses/UnimplementedError'
        '400':
          $ref: '#/components/responses/ParameterError'
components:
  schemas:
    ProductAttribute:
      type: object
      description: 'An entity representing an attribute of a product such as a color or material

        '
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        display_name:
          type: string
        value:
          type: string
        product:
          $ref: '#/components/schemas/Product'
        rule_based:
          type: boolean
        match:
          $ref: '#/components/schemas/Match'
    Product:
      type: object
      description: An entity representing a product
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        match:
          $ref: '#/components/schemas/Match'
    GenericError:
      type: object
      required:
      - error
      - retryable
      properties:
        error:
          type: string
        retryable:
          type: boolean
    Match:
      type: string
      enum:
      - first
      - last
      - unique
      - all
      default: unique
      description: 'Describes which item(s) to match when searching for an entity:

        - `unique` (default): will return an error if the search object matches multiple entities

        - `all`: will return every item that matches search entity

        - `last`: will return the most recent object, where applicable

        - `first`: will return the least recent object, where applicable

        '
  responses:
    ParameterError:
      description: An error occurred regarding one of the input parameters
      content:
        application/json:
          schema:
            type: object
            required:
            - error
            - name
            - retryable
            properties:
              error:
                type: string
              name:
                type: string
              retryable:
                type: boolean
    UnauthorizedError:
      description: User has provided either no credentials or invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericError'
    NotUniqueError:
      description: 'A {match: "unique"} was requested, but multiple entities matched the search parameters.

        '
      content:
        application/json:
          schema:
            type: object
            required:
            - entity_name
            - num_matches
            - error
            - retryable
            properties:
              entity_name:
                type: string
              num_matches:
                type: integer
              error:
                type: string
              retryable:
                type: boolean
    UnimplementedError:
      description: Endpoint is not yet implemented
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericError'
    InternalError:
      description: 'An internal server error has occurred. If reporting the error to Oden, include the ID returned in this response to aid in debugging.

        '
      content:
        application/json:
          schema:
            type: object
            required:
            - error
            - retryable
            - id
            properties:
              error:
                type: string
              retryable:
                type: boolean
              id:
                type: string
                format: uuid
  securitySchemes:
    APIKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Prefix the value with \"Token\" to indicate the custom authorization type
